
@model HDDViewModel

@{
    ViewData["Title"] = "Details";
}


<h1>@Model.Name</h1>
<div class="details-container">
    <div class="item-description">@Model.Description</div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.Manufacturer)</span> : <span class="item-prop-value">@Model.Manufacturer</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.MemorySizeDisplay)</span> : <span class="item-prop-value">@Model.MemorySizeDisplay</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.BufferSizeDisplay)</span> : <span class="item-prop-value">@Model.BufferSizeDisplay</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.DataTransferSpeedDisplay)</span> : <span class="item-prop-value">@Model.DataTransferSpeedDisplay</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.OuterMemoryInterface)</span> : <span class="item-prop-value">@Model.OuterMemoryInterface</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.OuterMemoryFormFactor)</span> : <span class="item-prop-value">@Model.OuterMemoryFormFactor</span></div>
    <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(Model => Model.Price)</span> : <span class="item-prop-value">@Html.DisplayFor(Model => Model.Price)</span></div>
    <img src="@(Model != null && Model.ImagePath !=null ? Model.ImagePath : "/Images//not-found.png" )" style="max-width:300px;margin-top: 20px; margin-bottom: 20px;" id="country-image" />
</div>