@model IEnumerable<SSDViewModel>

<table class="table" id="ssd-table">
    <thead>
        <tr>
            <th>
                <a asp-controller="SSD" asp-action="Create" class="create-link btn btn-success">Додати</a>
            </th>
        </tr>
        @*<tr>ssd
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td style="width: 100%">
                    <div class="catalog-item">
                        <div class="catalog-item-block" style="width: 30%; float: left">
                            <img src="@(Model != null && item.ImagePath !=null ? item.ImagePath : "/Images//not-found.png" )" style="max-width:100px;margin-top: 20px; margin-bottom: 20px;"/>
                        </div>
                        <div class="catalog-item-block" style="width: 70%;float: right">
                            <div class="item-name">
                                @item.Name
                            </div>
                            <div class="item-description">@item.ShortDescription </div>
                            <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(item => item.Manufacturer)</span> : <span class="item-prop-value">@item.Manufacturer</span></div>
                            <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(item => item.MemorySizeDisplay)</span>  :<span class="item-prop-value"> @item.MemorySizeDisplay</span></div>
                            <div class="item-prop"><span class="item-prop-name">@Html.DisplayNameFor(item => item.OuterMemoryInterface) </span> : <span class="item-prop-value">@item.OuterMemoryInterface</span></div>
                            <div>
                                <a class='edit-link' asp-controller="SSD" asp-action="details" asp-route-id="@item.Id"><i class='fas fa-eye'></i></a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a class='edit-link' asp-controller="SSD" asp-action="edit" asp-route-id="@item.Id"><i class='fas fa-edit'></i></a>
                                    <a class='delete-link'><i class='fas fa-trash'></i></a>
                                }
                                </div>
                        </div>
                    </div>
                </td>
                @*<td style="width: 30%">
                    <a class='edit-link' asp-controller="SSD" asp-action="edit" asp-route-id="@item.Id"><i class='fas fa-edit'></i></a>
                    <a class='delete-link'><i class='fas fa-trash'></i></a>
                </td>*@
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        var table = new CatalogTable();
        table.init($("#ssd-table"), "ssd");
    })
</script>